body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffff;  
}

main {
    background-color: #E4E4E4 ;
}

section {
    margin-top: 5px ;
    padding: 5px;
    margin-inline-end: 250px ;
    margin-inline-start: 250px;
}

.logo-kenzie {
    text-align: center;
    margin-top: 20px;
}

.title-pag {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.title-section {
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
}

.article-1 {
    background-color: #ffff;
    border-radius: 5px;
    
}

p {
    padding: 10px;
}

.conteiner {
    display: block;
    text-align: end;
    padding-right: 10px;
}

.form {
    background-color: #3490FF;
    border: 5px solid black;
    color: #ffff;
    text-align: center;
    border-radius: 5px;
}

.paragraph-form {
    font-weight:400;
}

.text-mail {
    font-weight: 550;
}

input {
    border: 2px solid black;
    border-radius: 3px;
}

button {
    background-color: black;
    color:#ffff;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
}


